<?xml version="1.0" encoding="UTF-8" ?>
<!--
~ The MIT License (MIT)
~
~ Copyright (c) 2014-2016 abel533@gmail.com
~
~ Permission is hereby granted, free of charge, to any person obtaining a copy
~ of this software and associated documentation files (the "Software"), to deal
~ in the Software without restriction, including without limitation the rights
~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
~ copies of the Software, and to permit persons to whom the Software is
~ furnished to do so, subject to the following conditions:
~
~ The above copyright notice and this permission notice shall be included in
~ all copies or substantial portions of the Software.
~
~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
~ THE SOFTWARE.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzqfsy.service.core.repository.QrtzRecordJobMapper">
  <resultMap type="com.zzqfsy.service.core.domain.QrtzRecordJob" id="qrtzRecordJobMap">
    <result property="id" column="id"/>
    <result property="schedName" column="SCHED_NAME"/>
    <result property="jobName" column="JOB_NAME"/>
    <result property="jobGroup" column="JOB_GROUP"/>
    <result property="description" column="DESCRIPTION"/>
    <result property="jobClassName" column="JOB_CLASS_NAME"/>
    <result property="jobData" column="JOB_DATA"/>
    <result property="triggerName" column="TRIGGER_NAME"/>
    <result property="triggerGroup" column="TRIGGER_GROUP"/>
    <result property="cronExpression" column="CRON_EXPRESSION"/>
    <result property="timeZoneId" column="TIME_ZONE_ID"/>
    <result property="action" column="action"/>
    <result property="addTime" column="add_time"/>

  </resultMap>

  <select id="getByPrimaryKey" parameterType="Integer" resultMap="qrtzRecordJobMap">
    SELECT * FROM qrtz_record_job WHERE id = #{id}
  </select>

  <insert id="create" parameterType="com.zzqfsy.service.core.domain.QrtzRecordJob">
    <selectKey resultType="Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO qrtz_record_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="schedName != null">SCHED_NAME,</if>
      <if test="jobName != null">JOB_NAME,</if>
      <if test="jobGroup != null">JOB_GROUP,</if>
      <if test="description != null">DESCRIPTION,</if>
      <if test="jobClassName != null">JOB_CLASS_NAME,</if>
      <if test="jobData != null">JOB_DATA,</if>
      <if test="triggerName != null">TRIGGER_NAME,</if>
      <if test="triggerGroup != null">TRIGGER_GROUP,</if>
      <if test="cronExpression != null">CRON_EXPRESSION,</if>
      <if test="timeZoneId != null">TIME_ZONE_ID,</if>
      <if test="action != null">action,</if>
      <if test="addTime != null">add_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="schedName != null">#{schedName},</if>
      <if test="jobName != null">#{jobName},</if>
      <if test="jobGroup != null">#{jobGroup},</if>
      <if test="description != null">#{description},</if>
      <if test="jobClassName != null">#{jobClassName},</if>
      <if test="jobData != null">#{jobData},</if>
      <if test="triggerName != null">#{triggerName},</if>
      <if test="triggerGroup != null">#{triggerGroup},</if>
      <if test="cronExpression != null">#{cronExpression},</if>
      <if test="timeZoneId != null">#{timeZoneId},</if>
      <if test="action != null">#{action},</if>
      <if test="addTime != null">#{addTime},</if>
    </trim>
  </insert>

  <select id="count" parameterType="map" resultType="Integer">
    SELECT count(id) FROM qrtz_record_job WHERE 1 = 1
    <if test="id != null">
      AND id = #{id}
    </if>

  </select>

  <select id="getList" parameterType="map" resultMap="qrtzRecordJobMap">
    SELECT * FROM qrtz_record_job WHERE 1 = 1
    <if test="id != null">
      AND id = #{id}
    </if>
  </select>
</mapper>